# Ignore virtual environment
venv/

# Ignore compiled Python files and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files (if any)
*.sqlite3

# Ignore logs and temporary files
*.log
tmp/
*.swp
*.swo
.DS_Store


# Ignore IDE/editor configurations
.vscode/
.idea/
*.iml
*.code-workspace

# Ignore Git files
.git/
.gitignore

# Ignore Docker-related files (optional)
.dockerignore
Dockerfile
docker-compose.yml